.BtnAction {
  width: 100%;
  margin: 32px 0;
  display: flex;
  justify-content: flex-end;
  gap: 16px;

  .btn-back {
    display: flex;
    align-items: center;
    gap: 5px;

    padding: 5px 10px;
    font-size: 16px;

    color: var(--text-color);

    .arrow {
      font-size: 2rem;
    }
  }

  .btn-icon {
    width: 52px;
    display: grid;
    place-items: center;
    color: var(--text-color);
  }

  .btn-reload {
    &:active .ReloadIcon {
      rotate: 180deg;
    }
  }

  .Tile {
    max-height: 52px;
    min-width: 52px;
    margin-right: auto;

    .value {
      font-size: 1rem !important;
    }
  }
}
