.BtnAction {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 16px;

  .btn-back {
    display: flex;
    align-items: center;
    gap: 5px;

    padding: 5px 10px;
    font-size: 16px;
  }

  .btn-icon {
    width: 52px;
    display: grid;
    place-items: center;

    .ReloadIcon {
      width: 30px;
      height: 30px;
      transition: rotate 0.2s;
    }

    &:active .ReloadIcon {
      rotate: 180deg;
    }
  }

  .git-link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: auto;
    color: var(--grid-color);
    transition: color 0.2s;
    gap: 7px;

    &:hover {
      color: white;
    }

    .pseudo {
      font-size: 10px;
    }
  }
}
