.Title {
  text-align: center;
  margin: 0 0 32px;

  .title-2048 {
    letter-spacing: 10px;
    font-size: clamp(30px, 5vh, 50px);
  }

  .Tile {
    aspect-ratio: initial;
    background-color: gold;
    border-radius: 4px;
    animation: fade-in 0.5s ease-in-out;

    .value {
      font-size: 10px !important;
    }
  }

  .place-holder {
    background-color: var(--grid-color);
    opacity: 0.5;
    border-radius: 4px;
    height: 13px;
  }

  @media (max-height: 600px) {
    display: none;
  }
}
