.Tile {
  display: flex;
  border-radius: 4px;
  aspect-ratio: 1 / 1;
  background-color: var(--tile-0-color);
  
  .value {
    flex: 1;
    display: grid;
    place-content: center;
    overflow: hidden;
    
    font-size: 1.8rem;
    border-radius: 4px;
  }
}
