:root {
  --bg-color: #fcf7f8;
  --grid-color: #aba9c3;
  --text-color: #714615;

  --tile-0-color: #ced3dc;
  --tile-2-color: #efeff0;
  --tile-4-color: #f7e0d6;
  --tile-8-color: #f1c0ba;
  --tile-16-color: #f18f88;
  --tile-32-color: #ef746e;
  --tile-64-color: #ed5a54;
  --tile-128-color: #eb3f3a;

  --tile-256-color: #ce5eac;
  --tile-512-color: #b13d8e;
  --tile-1024-color: #942b6f;
  --tile-2048-color: #76194f;
  --tile-4096-color: #5a0f3f;

  --tile-8192-color: #394f6b;
  --tile-16384-color: #2b3c4f;
  --tile-32768-color: #1d2933;
}
