:root {
  --bg-color: #2c3333;
  --grid-color: #4d669788;
  --grid-color-light: #6e8abf;
  --text-color: #cd5554; 

  --tile-0-color: #808080;
  --tile-2-color: #f2f2f0;    
  --tile-4-color: #e0dbcc;      
  --tile-8-color: #d6bd93;

  --tile-16-color: #cfa96c;   
  --tile-32-color: #eec64d;   
  --tile-64-color: #ffe600;   
  --tile-128-color: #fff06b;  

  --tile-256-color: #b6e3c6;  
  --tile-512-color: #85e4a6;   
  --tile-1024-color: #143f61;  
  --tile-2048-color: #1b1b35;  

  --tile-4096-color: #1c29b1;  
  --tile-8192-color: #393e71;   
  --tile-16384-color: #55262d;  
  --tile-32768-color: #000;  
}
